.bar {
	border-radius: 10px;
	border: 1px solid black;
	display: flex;
	align-items: flex-end;
	height: 500px;
}

.height {
	border-radius: 10px;
	width: 100%;
	background-color: #00adb5;
}

.col {
	text-align: center;
}
