.timerButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bottomButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.timerText {
	font-family: inherit;
	color: white;
	font-size: 4em;
}

.background {
	width: 100vw;
	height: auto;
}

.pomodoroBackground {
	background-color: #a5c9ca;
}

.shortBreakBackground {
	background-color: #395b64;
}

.longBreakBackground {
	background-color: #2c3333;
}
