.taskInputs {
	display: flex;
	flex-direction: column;
}

.description {
	resize: none;
	border: none;
	padding-left: 1em;
	font-family: inherit;
}

.buttons {
	display: flex;
	flex-direction: row;
	padding: 0.8em 0.5em;
	justify-content: flex-end;
}
