.btn {
	background: none;
	cursor: pointer;
	border: none;
	padding: 0.6em 1.5em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	font-family: inherit;
}

.btn:hover,
.btn:focus {
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.timerButton {
	padding: 0.25em 0.75em;
	color: white;
	background: none;
	font-weight: 700;
	border-radius: 6px;
	font-size: 1.2em;
}

.addTaskButton {
	width: 100%;
	height: 4em;
	border: dotted black 2px;
}

.taskFormButton {
	margin: 0 0.25em;
	border-radius: 5px;
}
