@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", "sans-serif";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.pomodoroBackground {
	background-color: #a5c9ca;
}

.shortBreakBackground {
	background-color: #395b64;
}

.longBreakBackground {
	background-color: #2c3333;
}

.center {
	display: flex;
	justify-self: center;
	align-self: center;
}
